@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

    * {
        font-family: 'Raleway', sans-serif;
    }
    .NavActive {
        font-weight: 600;
        color: #2B2D42;
    }
    .NavInactive {
        font-weight: 400;
        color: #737482;
    }
}



